.page-section {
    padding: 1.2rem;
    
    @mixin atMedium {
        padding: 4.5rem 0;
        /* oben und unten 4.5rem, links und rechts 0 */
    }
    
    &--blue {
        background-color: $mainBlue;
        color: #FFF;
    }
}